<div class="container-fluid text-center">
  <div class="row content">

    <table class="tg">
      <tr>
        <th class="tg-c3ow"><span style="font-weight:bold">S.No</span></th>
        <th class="tg-c3ow"><span style="font-weight:bold">Occasion</span></th>
        <th class="tg-c3ow"><span style="font-weight:bold">Probable Month</span></th>
        <th class="tg-c3ow"><span style="font-weight:bold">Remarks</span></th>
      </tr>
      <tr>
        <td class="tg-7btt">1</td>
        <td class="tg-996f">New Year Day</td>
        <td class="tg-c3ow">January</td>
        <td class="tg-996f"></td>
      </tr>
      <tr>
        <td class="tg-7btt">2</td>
        <td class="tg-996f">Pongal/Sankranthi</td>
        <td class="tg-c3ow">January</td>
        <td class="tg-996f"></td>
      </tr>
      <tr>
        <td class="tg-7btt">3</td>
        <td class="tg-996f">Republic Day</td>
        <td class="tg-c3ow">January 26</td>
        <td class="tg-996f"><span style="font-weight:bold">Mandatory Holiday</span></td>
      </tr>
      <tr>
        <td class="tg-7btt">4</td>
        <td class="tg-996f">Regional New Year</td>
        <td class="tg-c3ow">March/April/Other</td>
        <td class="tg-996f">Regional Festival</td>
      </tr>
      <tr>
        <td class="tg-7btt">5</td>
        <td class="tg-996f">Good Friday/Ramzan</td>
        <td class="tg-c3ow">April/June</td>
        <td class="tg-996f"></td>
      </tr>
      <tr>
        <td class="tg-7btt">6</td>
        <td class="tg-996f">Independence day</td>
        <td class="tg-c3ow">August 15</td>
        <td class="tg-996f"><span style="font-weight:bold">Mandatory Holiday</span></td>
      </tr>
      <tr>
        <td class="tg-7btt">7</td>
        <td class="tg-996f">Durga Pooja</td>
        <td class="tg-c3ow">September/October</td>
        <td class="tg-996f"></td>
      </tr>
      <tr>
        <td class="tg-7btt">8</td>
        <td class="tg-996f">Gandhi Jayanthi </td>
        <td class="tg-c3ow">October 2</td>
        <td class="tg-q8ud"><span style="font-weight:bold">Mandatory Holiday</span></td>
      </tr>
      <tr>
        <td class="tg-7btt">9</td>
        <td class="tg-996f">Diwali</td>
        <td class="tg-c3ow">November</td>
        <td class="tg-q8ud"></td>
      </tr>
      <tr>
        <td class="tg-7btt">10</td>
        <td class="tg-996f">Christmas</td>
        <td class="tg-c3ow">December</td>
        <td class="tg-q8ud"></td>
      </tr>
    </table>



  </div>
  <div class="text-right">
    <p>
      <button routerLink="/home" class="btn btn-primary">Back</button>
    </p>
  </div>
</div>