<link href="https://fonts.googleapis.com/css?family=Ewert|Zilla+Slab+Highlight" rel="stylesheet">

<div class="container-fluid">
  <div class="row content">
    <div>
      <h2>Search Based List</h2>
      <input class="form-control" type="text" [(ngModel)]="filter" placeholder="Search...">
      <div *ngFor="let item of mf.data |filter:filter">
        <table class="table table-bordered table-hover table-responsive table-condensed table-striped">
          <thead>

            <tr class="info">
              <th> First Name: </th>
              <td>{{item?.first}}</td>

              <th> Last Name:</th>
              <td>{{item?.last}}</td>

              <th>Gender:</th>
              <td>{{item?.gender}}</td>

              <th>Department:</th>
              <td>{{item?.department}}</td>

              <th>Country:</th>
              <td>{{item?.country}}</td>

              <th>Email:</th>
              <td>{{item?.email}}</td>

              <th>Password:</th>
              <td>{{item?.password}}</td>

            </tr>
          </thead>
        </table>
      </div>

    </div>
    <h1>List Of Signed Up Employees</h1>

    <table class="table table-bordered table-hover table-responsive table-condensed table-striped" [mfData]="data" #mf="mfDataTable"
      [mfRowsOnPage]="5" [mfSaveRowsOnPage]="true" (mfSelectedEntities)="setSelectedEntities($event)">
      <thead>
        <tr class="danger">
          <th style="width: 10%">
            <mfRowSelectorHead></mfRowSelectorHead>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="first" [mfShowSortableArrows]="true">First Name</mfDefaultSorter>
          </th>
          <th style="width:10">
            <mfDefaultSorter by="last" [mfShowSortableArrows]="true">Last Name</mfDefaultSorter>
          </th>
          <th style="width: 10">
            <mfDefaultSorter by="gender" [mfShowSortableArrows]="true">Gender</mfDefaultSorter>
          </th>
          <th style="width: 10">
            <mfDefaultSorter by="department" [mfShowSortableArrows]="true">Department</mfDefaultSorter>
          </th>
          <th style="width: 10">
            <mfDefaultSorter by="country" [mfShowSortableArrows]="true">Country</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="email" [mfShowSortableArrows]="true">Email</mfDefaultSorter>
          </th>
          <th style="width: 10%">
            <mfDefaultSorter by="password" [mfShowSortableArrows]="true">Password</mfDefaultSorter>
          </th>

        </tr>
      </thead>

      <tbody>
        <tr class="success" *ngFor="let item of mf.data | paginate: { itemsPerPage: 10, currentPage: p }; let ndx = index">
          <td>
            <mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector>
          </td>
          <td>{{item?.first}}</td>
          <td>{{item?.last}}</td>
          <td>{{item?.gender}}</td>
          <td>{{item?.department}}</td>
          <td>{{item?.country}}</td>
          <td>{{item?.email}}</td>
          <td>{{item?.password}}</td>

        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="8">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>

        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </tfoot>
    </table>

  </div>

  <div class="container">
    <ul class="pager">
      <li class="next" class="btn btn-primary"><a routerLink="/home">Back</a></li>
    </ul>
  </div>
  
</div>