<link href="https://fonts.googleapis.com/css?family=Harmattan|Bree+Serif" rel="stylesheet">

<div class="container-fluid text-center">
  <div class="row content">

    <div>
      <h3 class="text-right">Hello {{appUser.email}}</h3>
      <h1 class="starter-template"><b>Welcome to Online Leave Management System</b></h1>
    </div>

    <div class="jumbotron text-center">
      <p class="lead">Welcome to LMS!<br> This is a simple online employee leave system</p>
      <h1>Leave Management System</h1>
      <p>Smart online leave management system that allows users to apply for their leave conveniently anytime,
        anywhere.</p>
      <p>LMS is a web-based Leave Management System that streamlines communication between HR and employees and
        facilitates simple yet efficient management of employee leave.
        For employees, this system allows them to easily determine their vacation availability (from any point-in-time)
        and request leave online.
        For managers, leave approval no longer involves trails of paperwork. This ensures that all leaves taken and
        leave requests are properly monitored, where everybody can apply and view leave records without the hassle and
        delay of going through the admin staff
        - it's all at your fingertips with anytime, anywhere access.
      </p>
    </div>

  </div>
</div>